.pessoa-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pessoa-form .mb-3 {
  width: 100%;
  max-width: 500px;
  margin-bottom: 1rem;
}

.pessoa-form .flex {
  width: 100%;
}
.pessoa-form .ml-3 {
  margin-left: 3rem;
}
.custom-dropdown .p-dropdown-item {
  color: #333;
}

.pb {
  padding-bottom: 1rem;
}

.pr {
  margin-right: 2rem;
}
